{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mb-4">
  <!-- Card 1 -->
  <div class="col-md-10 offset-md-1">

<div class="row mb-4">
  <!-- Card 1 -->
  <div class="col-md-6 offset-md-3">
<div class="card mb-4">
  <div class="card-body text-center">
    <h5 class="card-title">Kubernetes-native Smart City Management</h5>
    <p class="card-text">
      OpenCityHub is a smart city management system built on Kubernetes, ensuring scalability, cost-efficiency, and fault tolerance. Leveraging Kubernetes-native architecture, this platform adapts seamlessly to the dynamic and evolving needs of a modern city.
    </p>
    <div class="mt-3">
      <button href="" class="btn btn-outline-primary btn-lg mr-2">Github</button>
      <button href="" class="btn btn-outline-secondary btn-lg">OpenShift</button>
    </div>
  </div>
</div>
</div>
</div>

<div class="row mb-4">
  <!-- Card 1 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Traffic Management</h5>
        <p class="card-text">Optimize traffic flow, reduce congestion, and enhance public safety using advanced face recognition and predictive algorithms, streamlining license management for a more efficient urban transportation system.</p>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Climate Management</h5>
        <p class="card-text">Stay informed about weather conditions with real-time forecasts, process IoT data, and proactively alert citizens to ensure their safety, contributing to a resilient and climate-conscious urban environment.</p>
      </div>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pollution Management</h5>
        <p class="card-text">Source pollution data effectively and send timely alerts, fostering a healthier environment for the community and promoting sustainable practices through informed decision-making.</p>
      </div>
    </div>
  </div>
</div>

<!-- Second Row -->
<div class="row mb-4">
  <!-- Card 4 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Health Emergency Planning</h5>
        <p class="card-text">Monitor hospital resources, plan efficient ambulance routes, and provide immediate alerts during health emergencies, prioritizing citizen safety and supporting effective emergency response efforts.</p>
      </div>
    </div>
  </div>
  <!-- Card 5 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Public Safety Management</h5>
        <p class="card-text">Enhance public safety with panic buttons, optimized police route planning, and quick activation of safety protocols during incidents like fires or terror attacks, ensuring a secure urban environment.</p>
      </div>
    </div>
  </div>
  <!-- Card 6 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Public Events Management</h5>
        <p class="card-text">Forecast and manage public events for smooth crowd control and safety, elevating the overall experience for attendees while efficiently implementing safety protocols.</p>
      </div>
    </div>
  </div>
</div>

<!-- Third Row -->
<div class="row">
  <!-- Card 7 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Emergency Incident Management</h5>
        <p class="card-text">Prioritize and manage emergency incidents seamlessly by coordinating efforts across police, fire, traffic, ambulance, and hospitals, ensuring swift and effective responses for community safety.</p>
      </div>
    </div>
  </div>
  <!-- Card 8 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">E-Governance</h5>
        <p class="card-text">Efficiently handle citizen complaints and provide services through a dedicated Citizen Service Center, promoting transparency and citizen engagement for enhanced overall governance.</p>
      </div>
    </div>
  </div>
  <!-- Card 9 -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Energy Management</h5>
        <p class="card-text">Forecast energy demand, implement smart city lighting, and analyze building energy patterns for a sustainable and efficient energy ecosystem, contributing to a greener and more resource-conscious urban landscape.</p>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{% endblock%}